<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.87.0">
    <link rel="icon" type="image/x-icon" href="/img/ecuador_escudo.ico">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>LOGIN CON NODE + JWT</title>
    <!-- Bootstrap core CSS -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body class="bg-gray-100 flex items-center justify-center h-screen">
    <main class="max-w-md w-full bg-white p-8 rounded-lg shadow-lg">
      <form id="formLogin" action="/login" method="POST" class="text-center">
        <img class="mx-auto mb-6" src="./img/logoMinisterio.jpg" alt="" width="200" height="100">
        <div class="mb-4">
          <label for="user" class="sr-only">User</label>
          <input type="text" id="user" name="user" class="appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring" placeholder="User">
        </div>
        <div class="mb-4">
          <label for="pass" class="sr-only">Password</label>
          <input type="password" id="pass" name="pass" class="appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring" placeholder="Password">
        </div>
        <button class="w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md focus:outline-none focus:ring" type="submit">Login</button>
      </form>
      <br>
      <a href="/register" class="block w-full bg-transparent border border-blue-500 hover:border-blue-600 text-blue-500 hover:text-blue-600 font-semibold py-2 px-4 rounded-md text-center focus:outline-none focus:ring">Registrarse</a>
    </main>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <% if(alert) { %>
        <script>
          Swal.fire({
            title: '<%= alertTitle %>',
            text:'<%= alertMessage %>',
            icon:'<%= alertIcon %>',
            showConfirmButton: <%= showConfirmButton %>,
            timer: <%= timer %>
          }).then(()=>{
            window.location = '/<%= ruta %>'
          })
        </script>
      <% } %>
  </body>
</html>
